{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "Prepros Export"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "/inc/js/theme.js"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "wifi.johannesreitter.at/wp-content/themes/tpaco",
      "timeout": 20000,
      "autoUpload": true,
      "reuseConnection": true,
      "connectionType": "sftp",
      "history": [
        {
          "file": "footer.php",
          "mtimeMs": 1638790782056.5898,
          "date": "2021-12-06T11:39:42.990Z"
        },
        {
          "file": "front-page.php",
          "mtimeMs": 1638541073742.0002,
          "date": "2021-12-03T14:17:54.775Z"
        },
        {
          "file": "functions.php",
          "mtimeMs": 1638538804789.608,
          "date": "2021-12-03T13:40:06.505Z"
        },
        {
          "file": "header.php",
          "mtimeMs": 1638541750667.8066,
          "date": "2021-12-03T14:29:11.631Z"
        },
        {
          "file": "index.php",
          "mtimeMs": 1638443965443.4746,
          "date": "2021-12-02T11:19:26.402Z"
        },
        {
          "file": "package-lock.json",
          "mtimeMs": 1638032342094.324,
          "date": "2021-11-27T16:59:05.059Z"
        },
        {
          "file": "package.json",
          "mtimeMs": 1638032342087.3428,
          "date": "2021-11-27T16:59:05.444Z"
        },
        {
          "file": "style.css",
          "mtimeMs": 1638787663007.3982,
          "date": "2021-12-06T10:47:44.209Z"
        },
        {
          "file": "style.css.map",
          "mtimeMs": 1638523391452.8765,
          "date": "2021-12-03T13:47:37.081Z"
        },
        {
          "file": "inc/fonts/Granesta.woff",
          "mtimeMs": 1636640112000,
          "date": "2021-11-23T13:36:09.700Z"
        },
        {
          "file": "inc/fonts/Granesta.woff2",
          "mtimeMs": 1636640114000,
          "date": "2021-11-23T13:36:10.672Z"
        },
        {
          "file": "inc/img/A.svg",
          "mtimeMs": 1636725496504.9097,
          "date": "2021-11-23T13:36:11.168Z"
        },
        {
          "file": "inc/img/L.svg",
          "mtimeMs": 1636725508240.5793,
          "date": "2021-11-23T13:36:11.671Z"
        },
        {
          "file": "inc/img/P.svg",
          "mtimeMs": 1636725518620.0522,
          "date": "2021-11-23T13:36:12.170Z"
        },
        {
          "file": "inc/img/S.svg",
          "mtimeMs": 1636725513588.6426,
          "date": "2021-11-23T13:36:12.660Z"
        },
        {
          "file": "inc/img/alps-tile1.jpg",
          "mtimeMs": 1637745724488.8152,
          "date": "2021-11-24T09:24:08.311Z"
        },
        {
          "file": "inc/img/alps-tile2.jpg",
          "mtimeMs": 1637255651856.814,
          "date": "2021-11-23T13:36:14.436Z"
        },
        {
          "file": "inc/img/alps-tile3.jpg",
          "mtimeMs": 1637255652093.7874,
          "date": "2021-11-23T13:36:15.668Z"
        },
        {
          "file": "inc/img/alps-tile4.jpg",
          "mtimeMs": 1637745724668.8452,
          "date": "2021-11-24T09:24:09.005Z"
        },
        {
          "file": "inc/img/banner-angebote.jpg",
          "mtimeMs": 1637745724877.552,
          "date": "2021-11-24T09:24:09.872Z"
        },
        {
          "file": "inc/img/banner-social-proof.png",
          "mtimeMs": 1637745727775.3418,
          "date": "2021-11-24T09:24:11.391Z"
        },
        {
          "file": "inc/img/baseplate.jpg",
          "mtimeMs": 1636643732936.3787,
          "date": "2021-11-23T15:05:23.710Z"
        },
        {
          "file": "inc/img/blobb.png",
          "mtimeMs": 1637944416909.4854,
          "date": "2021-11-26T16:33:38.020Z"
        },
        {
          "file": "inc/img/coole-location-weltweit.png",
          "mtimeMs": 1637255679966.353,
          "date": "2021-11-23T13:36:31.229Z"
        },
        {
          "file": "inc/img/dolomiten-suedtirol.png",
          "mtimeMs": 1637255685789.158,
          "date": "2021-11-23T13:36:34.697Z"
        },
        {
          "file": "inc/img/dude.png",
          "mtimeMs": 1637255686663.1384,
          "date": "2021-11-23T13:36:37.287Z"
        },
        {
          "file": "inc/img/dude2.jpg",
          "mtimeMs": 1637745737034.5557,
          "date": "2021-11-24T09:23:50.271Z"
        },
        {
          "file": "inc/img/fieberbrunn-oesterreich.jpg",
          "mtimeMs": 1637745737147.9387,
          "date": "2021-11-24T09:23:49.569Z"
        },
        {
          "file": "inc/img/foto-von-berg.png",
          "mtimeMs": 1637255693177.4824,
          "date": "2021-11-23T13:36:41.738Z"
        },
        {
          "file": "inc/img/girl1.jpg",
          "mtimeMs": 1637745737340.9104,
          "date": "2021-11-24T09:23:51.000Z"
        },
        {
          "file": "inc/img/girl2.jpg",
          "mtimeMs": 1637745737381.801,
          "date": "2021-11-24T09:23:51.748Z"
        },
        {
          "file": "inc/img/grossarl-pass-oesterreich.jpg",
          "mtimeMs": 1637745737490.089,
          "date": "2021-11-24T09:23:53.148Z"
        },
        {
          "file": "inc/img/hero-mobile.png",
          "mtimeMs": 1637255695456.9158,
          "date": "2021-11-24T09:25:44.774Z"
        },
        {
          "file": "inc/img/hero-small.png",
          "mtimeMs": 1637255696143.5928,
          "date": "2021-11-24T09:25:45.275Z"
        },
        {
          "file": "inc/img/hero.png",
          "mtimeMs": 1637255698447.2104,
          "date": "2021-11-24T09:25:44.169Z"
        },
        {
          "file": "inc/img/hipster-girls-wandern.png",
          "mtimeMs": 1637255705662.8345,
          "date": "2021-11-23T13:36:52.885Z"
        },
        {
          "file": "inc/img/link-white.svg",
          "mtimeMs": 1637075174487.9226,
          "date": "2021-11-23T13:36:54.758Z"
        },
        {
          "file": "inc/img/link.svg",
          "mtimeMs": 1636996712572.9604,
          "date": "2021-11-23T13:36:55.217Z"
        },
        {
          "file": "inc/img/loader.svg",
          "mtimeMs": 1637681250986.3855,
          "date": "2021-11-23T15:27:32.205Z"
        },
        {
          "file": "inc/img/loadimg-overlay.png",
          "mtimeMs": 1637745741911.7937,
          "date": "2021-11-24T09:23:56.061Z"
        },
        {
          "file": "inc/img/morzine-frankreich.jpg",
          "mtimeMs": 1637745742007.864,
          "date": "2021-11-24T09:24:15.334Z"
        },
        {
          "file": "inc/img/one.png",
          "mtimeMs": 1637679998158.23,
          "date": "2021-11-23T15:06:52.560Z"
        },
        {
          "file": "inc/img/seiser-alm-dolomiten.jpg",
          "mtimeMs": 1637745759966.161,
          "date": "2021-11-24T09:24:15.985Z"
        },
        {
          "file": "inc/img/seperator-bottom-nav.svg",
          "mtimeMs": 1637320949830.9685,
          "date": "2021-11-23T13:37:05.638Z"
        },
        {
          "file": "inc/img/seperator-bottom.svg",
          "mtimeMs": 1638107058060.0447,
          "date": "2021-11-28T13:44:19.105Z"
        },
        {
          "file": "inc/img/strasse-durch-berge.png",
          "mtimeMs": 1637255719254.7595,
          "date": "2021-11-23T13:37:08.220Z"
        },
        {
          "file": "inc/img/three.png",
          "mtimeMs": 1637679998293.498,
          "date": "2021-11-23T15:06:54.363Z"
        },
        {
          "file": "inc/img/tpb-footer-logo.svg",
          "mtimeMs": 1637062761310.929,
          "date": "2021-11-23T13:37:14.035Z"
        },
        {
          "file": "inc/img/two.png",
          "mtimeMs": 1637679999077.7732,
          "date": "2021-11-23T15:06:53.630Z"
        },
        {
          "file": "inc/js/vendor/imagesloaded.js",
          "mtimeMs": 1637678285965.6824,
          "date": "2021-11-23T14:38:07.219Z"
        },
        {
          "file": "inc/img/coole-location-weltweit.jpg",
          "mtimeMs": 1637745736838.1099,
          "date": "2021-11-24T09:24:12.032Z"
        },
        {
          "file": "inc/img/dolomiten-suedtirol.jpg",
          "mtimeMs": 1637745736978.7385,
          "date": "2021-11-24T09:24:12.727Z"
        },
        {
          "file": "inc/img/dude.jpg",
          "mtimeMs": 1637745736989.703,
          "date": "2021-11-24T09:24:13.302Z"
        },
        {
          "file": "inc/img/foto-von-berg.jpg",
          "mtimeMs": 1637745737296.4387,
          "date": "2021-11-24T09:24:14.006Z"
        },
        {
          "file": "inc/img/hipster-girls-wandern.jpg",
          "mtimeMs": 1637745741820.7766,
          "date": "2021-11-24T09:24:14.659Z"
        },
        {
          "file": "inc/img/strasse-durch-berge.jpg",
          "mtimeMs": 1637745760141.912,
          "date": "2021-11-24T09:24:16.704Z"
        },
        {
          "file": "inc/img/alps-tile1.jpg.webp",
          "mtimeMs": 1637746027361.1345,
          "date": "2021-11-24T09:27:43.969Z"
        },
        {
          "file": "inc/img/alps-tile2.jpg.webp",
          "mtimeMs": 1637746027318.2507,
          "date": "2021-11-24T09:27:44.529Z"
        },
        {
          "file": "inc/img/alps-tile3.jpg.webp",
          "mtimeMs": 1637746027279.326,
          "date": "2021-11-24T09:27:45.066Z"
        },
        {
          "file": "inc/img/alps-tile4.jpg.webp",
          "mtimeMs": 1637746027232.4512,
          "date": "2021-11-24T09:27:45.687Z"
        },
        {
          "file": "inc/img/banner-angebote.jpg.webp",
          "mtimeMs": 1637746027180.7974,
          "date": "2021-11-24T09:27:46.315Z"
        },
        {
          "file": "inc/img/banner-social-proof.png.webp",
          "mtimeMs": 1637746027046.724,
          "date": "2021-11-24T09:27:46.937Z"
        },
        {
          "file": "inc/img/baseplate-original.jpg.webp",
          "mtimeMs": 1637746026673.4438,
          "date": "2021-11-24T09:27:47.784Z"
        },
        {
          "file": "inc/img/baseplate.jpg.webp",
          "mtimeMs": 1637746026907.8035,
          "date": "2021-11-24T09:27:48.531Z"
        },
        {
          "file": "inc/img/coole-location-weltweit.png.webp",
          "mtimeMs": 1637746026333.3242,
          "date": "2021-11-24T09:27:49.733Z"
        },
        {
          "file": "inc/img/dolomiten-suedtirol.png.webp",
          "mtimeMs": 1637746026228.632,
          "date": "2021-11-24T09:27:50.311Z"
        },
        {
          "file": "inc/img/dude.png.webp",
          "mtimeMs": 1637746026117.9292,
          "date": "2021-11-24T09:27:50.815Z"
        },
        {
          "file": "inc/img/dude2.jpg.webp",
          "mtimeMs": 1637746026109.9214,
          "date": "2021-11-24T09:27:51.330Z"
        },
        {
          "file": "inc/img/fieberbrunn-oesterreich.jpg.webp",
          "mtimeMs": 1637746026076.0405,
          "date": "2021-11-24T09:27:52.002Z"
        },
        {
          "file": "inc/img/foto-von-berg.png.webp",
          "mtimeMs": 1637746025962.3445,
          "date": "2021-11-24T09:27:52.696Z"
        },
        {
          "file": "inc/img/girl1.jpg.webp",
          "mtimeMs": 1637746025859.5913,
          "date": "2021-11-24T09:27:53.237Z"
        },
        {
          "file": "inc/img/girl2.jpg.webp",
          "mtimeMs": 1637746025825.711,
          "date": "2021-11-24T09:27:53.766Z"
        },
        {
          "file": "inc/img/grossarl-pass-oesterreich.jpg.webp",
          "mtimeMs": 1637746025795.763,
          "date": "2021-11-24T09:27:54.417Z"
        },
        {
          "file": "inc/img/hero-mobile.png.webp",
          "mtimeMs": 1637746024708.7817,
          "date": "2021-11-24T09:27:54.951Z"
        },
        {
          "file": "inc/img/hero-small.png.webp",
          "mtimeMs": 1637746024524.0835,
          "date": "2021-11-24T09:27:55.465Z"
        },
        {
          "file": "inc/img/hero.png.webp",
          "mtimeMs": 1637746025694.0354,
          "date": "2021-11-24T09:27:56.257Z"
        },
        {
          "file": "inc/img/hipster-girls-wandern.png.webp",
          "mtimeMs": 1637746024333.7678,
          "date": "2021-11-24T09:27:56.933Z"
        },
        {
          "file": "inc/img/loadimg-overlay.png.webp",
          "mtimeMs": 1637746024230.8652,
          "date": "2021-11-24T09:27:57.442Z"
        },
        {
          "file": "inc/img/morzine-frankreich.jpg.webp",
          "mtimeMs": 1637746024188.0078,
          "date": "2021-11-24T09:27:58.072Z"
        },
        {
          "file": "inc/img/one.png.webp",
          "mtimeMs": 1637746024103.235,
          "date": "2021-11-24T09:27:58.924Z"
        },
        {
          "file": "inc/img/seiser-alm-dolomiten.jpg.webp",
          "mtimeMs": 1637746023832.9304,
          "date": "2021-11-24T09:27:59.546Z"
        },
        {
          "file": "inc/img/strasse-durch-berge.png.webp",
          "mtimeMs": 1637746023747.3367,
          "date": "2021-11-24T09:28:00.379Z"
        },
        {
          "file": "inc/img/three.png.webp",
          "mtimeMs": 1637746023606.7412,
          "date": "2021-11-24T09:28:01.025Z"
        },
        {
          "file": "inc/img/two.png.webp",
          "mtimeMs": 1637746023373.3684,
          "date": "2021-11-24T09:28:01.726Z"
        },
        {
          "file": "archive.php",
          "mtimeMs": 1638541040585.4272,
          "date": "2021-12-03T14:17:21.531Z"
        },
        {
          "file": "single.php",
          "mtimeMs": 1638540917441.5906,
          "date": "2021-12-03T14:15:18.441Z"
        },
        {
          "file": "page-kontakt.php",
          "mtimeMs": 1638790781514.7014,
          "date": "2021-12-06T11:39:42.496Z"
        },
        {
          "file": "inc/img/moon.svg",
          "mtimeMs": 1638106873766.6628,
          "date": "2021-11-28T13:41:53.287Z"
        },
        {
          "file": "inc/img/marker.svg",
          "mtimeMs": 1638202354596.1035,
          "date": "2021-11-29T16:12:53.134Z"
        },
        {
          "file": "inc/img/404.svg",
          "mtimeMs": 1638443389104.4333,
          "date": "2021-12-02T11:09:50.351Z"
        },
        {
          "file": "404.php",
          "mtimeMs": 1638540991329.7844,
          "date": "2021-12-03T14:16:32.572Z"
        },
        {
          "file": "inc/js/observer.js",
          "mtimeMs": 1638538865670.541,
          "date": "2021-12-03T13:41:06.742Z"
        },
        {
          "file": "inc/js/vendor/aos.js",
          "mtimeMs": 1538604773000,
          "date": "2021-12-03T13:47:39.689Z"
        },
        {
          "file": "inc/js/maps.js",
          "mtimeMs": 1638538899051.6475,
          "date": "2021-12-03T13:41:40.124Z"
        },
        {
          "file": "inc/js/imagesloaded.js",
          "mtimeMs": 1638541550324.1057,
          "date": "2021-12-03T14:25:51.387Z"
        },
        {
          "file": "inc/js/parallax.js",
          "mtimeMs": 1638538962529.9817,
          "date": "2021-12-03T13:42:43.556Z"
        },
        {
          "file": "inc/js/nav.js",
          "mtimeMs": 1638541739675.313,
          "date": "2021-12-03T14:29:00.760Z"
        },
        {
          "file": "inc/js/carousell.js",
          "mtimeMs": 1638539020538.104,
          "date": "2021-12-03T13:43:41.603Z"
        },
        {
          "file": "inc/js/filter.js",
          "mtimeMs": 1638539039584.952,
          "date": "2021-12-03T13:44:00.629Z"
        },
        {
          "file": "inc/js/aos.js",
          "mtimeMs": 1638538883538.0002,
          "date": "2021-12-03T13:47:37.630Z"
        },
        {
          "file": "inc/js/vendor/jquery.min.js",
          "mtimeMs": 499162500000,
          "date": "2021-12-03T13:47:40.337Z"
        },
        {
          "file": "inc/js/vendor/slick.min.js",
          "mtimeMs": 1507052387000,
          "date": "2021-12-03T13:47:40.976Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "img/banner-social-proof.png",
        "config": {
          "originalSize": 8177742,
          "optimized": true
        }
      },
      {
        "file": "img/baseplate.jpg",
        "config": {
          "originalSize": 252785,
          "optimized": true
        }
      },
      {
        "file": "img/one.png",
        "config": {
          "originalSize": 3759421,
          "optimized": true
        }
      },
      {
        "file": "img/three.png",
        "config": {
          "originalSize": 951039,
          "optimized": true
        }
      },
      {
        "file": "img/two.png",
        "config": {
          "originalSize": 1787436,
          "optimized": true
        }
      },
      {
        "file": "inc/img/baseplate.jpg",
        "config": {
          "originalSize": 304599,
          "optimized": true
        }
      },
      {
        "file": "inc/img/blobb.png",
        "config": {
          "originalSize": 274833,
          "optimized": true
        }
      },
      {
        "file": "inc/img/one.png",
        "config": {
          "originalSize": 951898,
          "optimized": true
        }
      },
      {
        "file": "inc/img/three.png",
        "config": {
          "originalSize": 770278,
          "optimized": true
        }
      },
      {
        "file": "inc/img/two.png",
        "config": {
          "originalSize": 495176,
          "optimized": true
        }
      },
      {
        "file": "inc/js/theme.js",
        "config": {
          "autoCompile": true,
          "sourceMap": true,
          "tasks": {
            "concat-js": {
              "enable": true
            },
            "minify-js": {
              "enable": false
            }
          }
        }
      },
      {
        "file": "inc/scss/_index.scss",
        "config": {
          "tasks": {
            "minify-css": {
              "enable": true
            }
          },
          "customOutput": "style.css",
          "autoCompile": true,
          "sourceMap": true
        }
      },
      {
        "file": "inc/scss/style.scss",
        "config": {
          "sourceMap": true,
          "customOutput": "style.css"
        }
      },
      {
        "file": "style.scss",
        "config": {
          "sourceMap": true
        }
      },
      {
        "file": "theme.js",
        "config": {
          "tasks": {
            "concat-js": {
              "enable": true
            }
          },
          "autoCompile": true,
          "sourceMap": true
        }
      }
    ]
  }
}
