// --------------------------------- Variables ---------------------------------
// Colors
$col-dark:#29211d;
$col-text: #D8C5BC;
$col-card: #3f3632;
$col-sec: #100C0A;

// Typography
$font-main: "Roboto", sans-serif;
$font-accent: "Roboto Mono", monospace;
$font-hero:  "Granesta", sans-serif;