@use 'abstracts' as *;

// --------------------------------- Content Specials ---------------------------------

.content--specials {
    position: relative;  
    
    .wrapper--text {
        @include bpmin(700) {
            max-width: 50rem;
        }
    }

    .wrapper--top-deal {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 4rem;

        @include bpmin(900) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
        
        .card--top-deal {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 3;
            background-color: $col-card;

            @extend .shadow, .radius;
        }
    }

    .card--image {            
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 28rem;

        @extend .radius;

        &.image--side {
            display: none;

            @include bpmin(900) {
                display: inherit;
            }

            @extend .shadow, .radius;
        }
    }

    .card--content {
        padding: 3rem;        
    }

    .card--title {
        margin: 0;
        font-family: $font-accent;
    }

    .card--meta {
        font-family: $font-accent;
        font-size: 1.4rem;
        opacity: 0.5;
        margin-bottom: 2rem;
    }

    .card--info {
        margin-bottom: 2rem;
    }

    .card--button {
        padding: 1rem 2rem;
        background-color: $col-text;
        color: $col-dark;
        display: inline-block;
        font-family: $font-accent;
        font-size: 1.6rem;
        text-decoration: none;

        @extend .trans, .radius, .shadow;

        img {
            @extend .trans;
        }

        &:hover { 
            background-color: #fff;
            
            img {
                transform: translateX(0.7rem);
                transition-delay: 0.15s;
            }
        }
    }

    .card--badge {
        position: absolute;
        top: -2.2rem;
        right: 2rem;
        font-family: $font-hero;
        letter-spacing: 1rem;
        font-size: 4rem;
        line-height: 1;
        opacity: 0.5;
        z-index: 2;
        opacity: 0.5;
    }

    .wrapper--deal {
        margin-top: 8rem;
        background-color: $col-card;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        position: relative;
        z-index: 5;

        @include bpmin(700) {
            grid-template-columns: 1fr 1fr; 
            grid-template-rows: 1fr; 
            gap: 4rem;
        }
        
        @extend .radius, .shadow;

        .card--image {
            min-height: 28rem;
            position: relative;
        }

        .card--content {
            @include bpmin(700) {
                padding-left: 0;
            }
        }
    }

    .wrapper--deal:nth-of-type(odd) {
        .card--image {
            @include bpmin(700) {
                grid-column: 2;
                grid-row: 1;
            }
        }

        .card--content {
            @include bpmin(700) {
                padding-left: 3rem;
                padding-right: 0;
            }
        }
    }

    .nav--angebote {
        font-family: $font-accent;
        font-size: 2.5rem;
        text-decoration: underline;
        color: #fff;
        text-align: center;
        margin-top: 8rem;
        position: relative;
        z-index: 5;

        a {
            color: #fff;
        }

        img {
            margin-left: 2rem;

            @extend .trans;
        };

        &:hover {
            img {
                transform: translateX(2rem);
            }
        }
    }
}