// --------------------------------- Fonts ---------------------------------
@font-face {
    font-family: 'Granesta';
    src: url('./inc/fonts/Granesta.woff2') format('woff2'),
        url('./inc/fonts/Granesta.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}