@use 'abstracts' as *;

// --------------------------------- Navigation ---------------------------------
.nav--main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: $col-sec;
    position: fixed;
    inset: 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.2);
    transition: all 0.5s cubic-bezier(0.87, 0, 0.13, 1);

    .menu {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
        color: #fff;

        li {
            font-size: 2.5rem;
            font-family: $font-accent;
            margin: 2rem 0;

            a {
                text-decoration: none;
                color: #fff;
                display: inline-block;
                
                @extend .trans;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }

    .nav--seperator {
        position: absolute;
        bottom: 0;
        width: 100%;

        img {
            vertical-align: middle;
            width: 100%;
        }
    }
}

.nav--main.is-active {
    opacity: 1;
    visibility: visible;
    transform: inherit;
    transition: all 0.5s cubic-bezier(0.87, 0, 0.13, 1);
}